body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    font-family: monospace;
    font-size: 20px;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

div#grid {
    width: 100%;
    flex-grow: 1;

    background-color: white;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#info-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00000033;
}

#info-message {
    margin: 0.2em 0.4em 0.6em 0.4em;
}

#info-buttons {
    display: flex;
    flex-direction: column;
}

button {
    font-family: monospace;
    font-size: 20px;
}

#info-buttons button {
    margin: 0.3em;
    color: white;
    background-color: #1747e5;
    border: 1px solid black;
    padding: 0.2em 0.4em;
}

#info-buttons button:hover {
    background-color: #446bef;
}

#info {
    background-color: white;
    padding: 0.5em;
    box-shadow: 0 0 5px 1px #00000066;
}

div.tile {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.active {
    background-color: #3838be;
}

div#progress {
    width: 100%;
    height: 20px;
    background-color: white;
}

div#progress-fill {
    height: 100%;
    background-color: orange;
    width: 100%;
}

.color-fading {
    transition: background-color 1s ease;
}